$lau-color: purple;

@font-face {
  font-family: 'Invaders';
  src: url('assets/Invaders-6RY1.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.hello {
  color: $lau-color;
  font-family: 'Invaders', fantasy;
}
